* {
    padding: 0;
    margin: 0;
}
.rect {
    border: 1px solid #000;
    border-radius: 10px;
    border-color: #000;
}
body {
    background-color: #444;
    position: relative;
}
div.container {
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}
div.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 450px;
    height: 450px;
    padding: 50px;
}
.inner_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background: linear-gradient(to top, #222 , #f9f9f9a0 30%, #fffa);
    font-size: 23px;
    cursor: pointer;
}